*{
  box-sizing: border-box;
}
body{
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}
.bg{
  background: url('https://www.santabanta.com/images/wallpapers/movies/spider-man-243011_800-600.jpg') no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}
.loading-text{
  font-size: 50px;
  color: white;
}